@font-face {
    font-family: 'Jersey';
    src: url('../assets/fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains';
    src: url('../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --text-color--: #fff;
  --footer-color--: #000;
  --pop-color--: #3c2d73;
}

@keyframes moverDireita{
    0%{
        transition: .2s linear;
        transform: translateX(-50vw);
        position: relative;
    }
            
    100%{
        transform: translateX(10vw);
        transition: .2s linear;
    }
}


@keyframes moverEsquerda{
    0%{
        position: relative;
        transition: .2s linear;
        transform: translateX(50vw);
    }
            
    100%{
        transform: translateX(-10vw);
        transition: .2s linear;
    }
            
}
