@import url(../global.css);

body {
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    #f2cb05 0%,
    #f29c14 40%,
    #f24949 75%
  );
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
}

main{
  width: 100%;
  position: relative;
}

main svg {
  width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: -0.45vh;
}

.textbox {
  width: 40%;
  top: 20vh;
  left: 5vw;
  position: absolute;
  color: var(--text-color--);
}

#title {
    font-weight: 700;
    font-family: "Jersey", monospace;
    letter-spacing: 5px;
    font-size: 8em;
    margin-bottom: 2vh;
}
#subtitle {
    font-weight: 500;
    font-family: "JetBrains", monospace;
    font-size: 1.2em;
}

footer{
  width: 100%;
  height: 15vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--footer-color--);
  color: var(--text-color--);
  font-family: "JetBrains", monospace;
  font-weight: 700;
}

#LOJA,
#MAQUINA,
#CIRCO,
#TIROAOALVO,
#MONTANHARUSSA{
  cursor: pointer;
  filter: brightness(5%);
  opacity: 85%;
}


.space-cort{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cortina{
  position: relative;
  width: 49vw;
  height: 100vh;
  background-image: url(../../assets/img/cortina.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cort1{
  right: 50vw;
  animation: moverEsquerda 2s cubic-bezier(1, 0.05, 1, 0.9);
  animation-delay: 5ms;
}
#cort2{
  animation: moverDireita 2s cubic-bezier(1, 0.05, 1, 0.9);
  animation-delay: 5ms;
  left: 50vw;
}

@media (max-width: 1500px){
  .textbox{
    width: 45%;
  }

  #title{
    font-size: 6em;
  }

  #subtitle{
    font-size: 1em;
  }

  main svg{
    margin-bottom: -0.75vh;
  }
}

@media (max-width: 800px){
  .textbox{
    width: 50%;
  }

  #title{
    font-size: 4.5em;
  }

  #subtitle{
    font-size: 0.8em;
  }
}

@media (max-width: 480px){
  .textbox{
    width: 50%;
    top: 10vh;
  }

  #title{
    font-size: 3em;
  }

  #subtitle{
    font-size: 0.5em;
  }

  main svg{
    margin-bottom: -0.8vh;
  }

  footer{
    display: none;
  }
}

@media (max-width: 400px){
  #title{
    font-size: 2em;
  }
}

@media (max-width: 350px){
  #subtitle{
    font-size: 0.4rem;
  }
}